.card {
  border-top: 2px solid #fff;
  cursor: pointer;

  color: var(--color-neutral-dark);
}

.card-icon {
  color: var(--color-primary);
}

.card:hover .card-title {
  color: var(--color-accent);
}

.basic-card {
  background-color: var(--color-neutral-ultralight);
}

.dog-info-card {
  background-color: #fff;
}

.dog-info-list {
  margin: 0;
}

.available-dogs {
  background-color: var(--color-neutral-ultralight);
}

.dogs-wrapper {
  max-width: 57em;
}

@media only screen and (min-width: 46em) {

  .s-border-right {
    border-right: 2px solid #fff;
  }

}

@media only screen and (min-width: 67em) {

  .m-border-right {
    border-right: 2px solid #fff;
  }

}
