.card {
  background-color: var(--color-neutral-light);
  border: 2px solid #fff;
  height: 12em;
}

.link-card {
  background-color: var(--color-neutral-light);

  color: var(--color-neutral-dark);
}

.link-card:hover {
  text-decoration: none;
}

.card-list {
  margin: 0;

  color: var(--color-neutral);
  letter-spacing: .1em;
  text-transform: uppercase;
}

.bullet::before {
  content: " • ";
}

.link-card:hover .card-btn {
  color: var(--color-accent);
  text-decoration: none;
}
