.footer {
  background-color: var(--color-neutral-light);
}

.footer-contact,
.footer-copyright {
  color: var(--color-neutral);
}

.footer-contact {
  border-bottom: 1px solid #d6d6d6;
}

.footer-social {
  padding-right: .65rem;
  border-right: 1px solid #d6d6d6;
}

.footer-social-link {
  color: #555;
}

.footer-social:last-child {
  padding: 0;
  border: 0;
}

.footer-social-link:hover {
  color: var(--color-neutral-dark);
}

.footer-social-link:hover .icon-label {
  text-decoration: underline;
}

@media only screen and (min-width: 46em) {

  .footer-copyright {
    margin-bottom: 0;

    text-align: left;
  }

  .footer-social-content {
    text-align: right;
  }

  .footer-social {
    padding-right: .7rem;
  }

}

@media only screen and (min-width: 67em) {

  .footer-social {
    padding-right: .75rem;
  }

}
