/* Hero banner */

.hero-container {
  height: calc(100vh - 110px);
  max-height: 640px;
  min-height: 420px;

  background-color: #fafafa;
}

.hero-content {
  height: 45%;
}

.hero-image {
  top: 45%;

  background-image: url("../../images/hero-image.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.btn-subtle:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 46em) {

  .hero-container {
    max-height: 960px;
    min-height: 500px;
  }

}

@media only screen and (min-width: 67em) {

  .hero-container {
    max-height: 100vh;
    min-height: 540px;
  }

  .hero-content {
    height: 40%;
  }

  .hero-image {
    top: 40%;
  }

}

@media only screen and (min-width: 90em) {

  .hero-container {
    height: calc(100vh - 200px);
  }

}

/* Billboard */

.billboard {
  background-color: #fff;
}

.billboard-image-wrapper {
  background-color: #f1f1f3;
  height: 250px;
}

.billboard-image {
  height: 250px;
}

@media only screen and (min-width: 46em) {

  .billboard-image-wrapper,
  .billboard-image {
    height: 384px;
  }

}

@media only screen and (min-width: 67em) {

  .billboard-info-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20em;

    text-align: left;
  }

  .billboard-image {
    left: auto;
    right: 0;
    top: auto;
    transform: translate(0, 0);
  }

}
