/* Hero banner */

.hero-container {
  height: calc(100vh - 110px);
  max-height: 40em;
  min-height: 26em;

  background-color: #fafafa;
}

.hero-content {
  height: 45%;
}

.hero-image {
  top: 45%;

  background-image: url("../../images/hero-image.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.btn-subtle:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 46em) {

  .hero-container {
    max-height: 55em;
    min-height: 28em;
  }

}

@media only screen and (min-width: 67em) {

  .hero-container {
    max-height: 100vh;
    min-height: 28em;
  }

  .hero-content {
    height: 40%;
  }

  .hero-image {
    top: 40%;
  }

}

@media only screen and (min-width: 90em) {

  .hero-container {
    height: calc(100vh - 200px);
  }

}

/* Billboard */

.billboard-container {
  height: 16em;

  background-color: #fafafa;
}

.billboard-content {
  height: 35%;
}

.billboard-image {
  top: 35%;

  background-image: url("../../images/hero-image.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

@media only screen and (min-width: 46em) {

  .billboard-container {
    height: 20em;
  }

}
