input,
select {
  border: 1px solid #d6d6d6;
  border-radius: 4px;
}

input:focus,
select:focus {
  border-color: var(--color-accent);
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before {
  background-color: #FFF8E1;
}

.error-message {
  display: none;
  background-color: #FFECB3;
  border: 1px solid #FFC107;
  border-radius: 4px;
}

.error-message-highlighted {
  background-color: #FFECB3;
  color: #fff;
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message {
  display: block;
}

::-webkit-input-placeholder {
  color: #b3b3b3
}

.warning-arrow {
  width: 20px;
  height: 10px;
  top: -10px;
  left: 20px;
}

input[type="checkbox"] + label::before {
  content: " ";
  display: inline-block;
  height: 1.5em;
  margin-right: .3em;
  position: relative;
  vertical-align: middle;
  top: -.1em;
  width: 1.5em;

  border: 1px solid #666;
  border-radius: 4px;
}

input[type="checkbox"]:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='btn-subtle-arrow' width='256' height='256' viewBox='0 0 256 256'%3E%3Cpath d='M100.6 161.4l-35.9-36-12 12 47.9 47.9L203.3 82.6l-12-12z'/%3E%3C/svg%3E");
}

input[type="checkbox"]:focus + label::before {
  box-shadow: 0 0 0 3px var(--color-accent-highlight);
  outline: none;
}
