/* Important button */

.btn {
  padding: .3em .88em .336em;
  position: relative;

  background: linear-gradient(var(--color-accent-light), var(--color-accent));
  border: 1px solid var(--color-accent-dark);

  font-weight: 400;
}

.btn:hover::after {
  bottom: -1px;
  content: " ";
  left: -1px;
  position: absolute;
  right: -1px;
  top: -1px;

  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #fff;
  opacity: .1;
}

.btn:focus,
.btn:hover {
  border-color: var(--color-accent-dark);

  text-decoration: none;
}

.btn-small {
  padding: 0 .88em;
}

/* Subtle button */

.btn-subtle {
  padding: 0;

  background: transparent;
  border-radius: 0;
  border: none;

  color: var(--color-accent);
}

.i-arrow {
  height: 1em;
  width: .43em;
}

.btn-subtle:focus,
.btn-subtle:hover {
  background-color: transparent;

  color: var(--color-accent);
}

.btn-subtle:hover .icon-text {
  text-decoration: underline;
}

.btn-subtle:focus::after,
.btn-subtle:hover::after {
  opacity: 0;
}

.btn-subtle-large {
  font-weight: 300;
}

a:focus,
[tabindex="0"]:focus,
details:focus,
summary:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
  box-shadow: 0 0 0 3px var(--color-accent-ultralight);
  outline: none;
}
