.btn {
  position: relative;

  background: linear-gradient(var(--color-accent-light),var(--color-accent));
  border: 1px solid var(--color-accent-dark);
}

.btn:hover::after {
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  background-color: #fff;
  opacity: .1;
}

.btn:hover {
  border-color: var(--color-accent-dark);

  text-decoration: none;
}

.btn-subtle {
  padding: 0;
  font-size: 17px;
  background: transparent;
  border: none;

  color: var(--color-accent);
}

.i-arrow {
  height: 1em;
  width: .40625em
}

.btn-subtle:hover {
  background-color: transparent;
  border: none;

  color: var(--color-accent);
}

.btn-subtle:hover span {
  text-decoration: underline;
}

.btn-subtle:hover::after {
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  background-color: #fff;
  opacity: 0;
}

.btn-subtle-thin {
  font-weight: 300;
}
