/* Important button */

.btn {
  padding: .3em .88em .336em;
  position: relative;

  background: linear-gradient(var(--color-accent-light), var(--color-accent));
  border: 1px solid var(--color-accent-dark);

  font-weight: 400;
}

.btn:hover {
  background: linear-gradient(#ff8cb3, #ff538d);
}

.btn:focus,
.btn:hover {
  border-color: var(--color-accent-dark);

  text-decoration: none;
}

.btn-small {
  padding: 0 .88em;
}

/* Subtle button */

.btn-subtle {
  padding: 0;

  background: transparent;
  border-radius: 0;
  border: none;

  color: var(--color-accent);
}

.btn-subtle:focus,
.btn-subtle:hover {
  background: transparent;

  color: var(--color-accent);
}

.btn-subtle:hover .icon-text {
  text-decoration: underline;
}

.i-arrow {
  height: 1em;
  width: .43em;
}

.btn-subtle-large {
  font-weight: 300;
}
