:root {
  --color-primary: #3f51b5;
  --color-primary-light: #c5cae9;
  --color-primary-dark: #303f9f;
  --color-accent: #ff4081;
  --color-accent-light: #ff80ab;
  --color-accent-dark: #f50057;
  --color-neutral: #656667;
  --color-neutral-light: #f2f2f2;
  --color-neutral-dark: #333;

  --font-primary: roboto, sans-serif;
}

html {
  color: var(--neutral-dark);
  font-family: var(--font-primary);
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  font-weight: 500;
  text-align: center;
}

/* Lists */

li {
  margin-top: .35em;
}

dt {
  font-weight: 700;
}

/* Links */

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Blockquotes */

blockquote {
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
}

blockquote footer,
cite {
  font-size: .75rem;
  font-style: normal;
  font-weight: 400;
}

q {
  font-style: italic;
}

/* Emphasis & edits */

mark {
  background-color: #fff59d;
}

b,
strong {
  color: var(--color-primary);
  font-weight: 700;
}

a:focus,
[tabindex="0"]:focus,
details:focus,
summary:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: 3px solid var(--color-accent-light)
}
