:root {
  --color-primary: #3f51b5;
  --color-accent: #ff4081;
  --color-accent-light: #ff80ab;
  --color-accent-dark: #f50057;
  --color-accent-highlight: #fcc3d8;
  --color-neutral: #888;
  --color-neutral-light: #f2f2f2;
  --color-neutral-dark: #333;

  --font-primary: roboto, sans-serif;
}

body {
  min-width: 320px;

  color: var(--color-neutral-dark);
  font-family: var(--font-primary);
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  font-weight: 500;
}

/* Links */

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Lists */

/* Blockquotes */

blockquote {
  font-weight: 300;
}

blockquote footer,
cite {
  font-style: normal;
  font-weight: 500;
}

q {
  font-style: italic;
}

/* Emphasis & edits */

mark {
  background-color: var(--color-accent-highlight);
}

b,
strong,
dt {
  color: var(--color-primary);
  font-weight: 700;
}

dfn,
em,
i {
  font-style: normal;
}

/* Focus states */

a:focus,
[tabindex="0"]:focus,
details:focus,
summary:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
  box-shadow: 0 0 0 3px var(--color-accent-highlight);
  outline: none;
}
