.section-title {
  color: #fff;
}

.section-image {
  height: 600px;
  background-image: url("../../images/overview-image.jpg");
  background-position: center center;
  background-size: cover;
}

.section-card {
  background-color: #fafafa;
}

.badge {
  color: var(--color-primary);
}

.badge-title {
  line-height: .675;
}

@media only screen and (min-width: 46em) {

  .section-image {
    height: 700px;
  }

  .badge-list {
    max-width: 6em;
  }

  .section-card {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-flex-direction: column wrap;
    -ms-flex-direction: column wrap;
    flex-flow: column wrap;
  }

}

@media only screen and (min-width: 67em) {

  .section-image {
    height: 1000px;
  }

  .section-card {
    padding: 6rem;
  }

}

/* Quick Links */

.quick-links {
  border-bottom: 2px solid #fff;
}

/* Faq */

.faq {
  border-bottom: 1px solid var(--color-neutral-light);
  border-top: 1px solid var(--color-neutral-light);
}

.faq-list-item {
  border-top: 1px solid var(--color-neutral-light);
}

.faq-btn:hover {
  color: var(--color-accent);
}

.faq-answer {
  display: none;
}

.q1-check:checked ~ .faq-list #q1-answer,
.q2-check:checked ~ .faq-list #q2-answer,
.q3-check:checked ~ .faq-list #q3-answer {
  display: block;
}

.faq-icon {
  transition: transform 200ms ease-in-out;
}

.q1-check:checked ~ .faq-list #q1-icon,
.q2-check:checked ~ .faq-list #q2-icon,
.q3-check:checked ~ .faq-list #q3-icon {
  transform: rotate(45deg);
}
